html,
body {
  height: 100%;
  font-family: var(--font);
  background: var(--bg-primary-color);
  color: var(--font-color-dark);
}

main {
  height: 100vh;
  transition: translate .3s;
}

.myToast {
  background: var(--primary-color) !important;
  color: var(--font-color-light) !important;
}

.error {
  color: var(--warning-color) !important;
}

.notFound404 {
  height: 100%;
  display: grid;
  place-content: center;
  background-color: var(--bg-secondary-color);
  position: relative;

  button {
    width: 150px;
    position: absolute !important;
    top: 25%;
    left: 50%;
    // right: 50%;
    transform: translateX(-46%);
  }

  img {
    border-radius: 30%;
  }
}