@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font: 'Public Sans', 'Roboto', sans-serif;
  --font-color-dark: #475569;
  --font-color-light: #f8fafc;
  --primary-color: #0e7490;
  --primary-transp-color: rgb(14, 116, 144, 0.1);
  --secondary-color: #155E75;
  --success-color: #10B981;
  --warning-color: #DC2626;
  --bg-primary-color: #f1f5f9;
  --bg-secondary-color: #e2e8f0;
  --bg-darker-color: #94a3b8;
  --bg-transparent-color: rgb(242, 246, 250, 0.1);
  --bg-swal-color: #0f172a;
}