.forgotPassword {
  height: 100%;

  &__left {
    background: url(/forgot-password.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: var(--bg-secondary-color);
  }

  @media (max-width: 899px) {
    &__left {
      display: none;
    }
  }
}