.home {
  height: 100%;
  background: url(/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;

  // a {
  //   button {
  //     span {
  //       svg {
  //         color: var(--font-color-light) !important;
  //       }
  //     }
  //   }
  // }
}