.details {
  position: relative;

  .userInfo {
    .contact {
      font-weight: 300;
      display: flex;
      gap: .5rem;
      justify-content: center;
      margin-bottom: .5rem;
    }
  }

  .actions {
    width: 100%;
    position: absolute;
    top: 210px;
    display: 'flex';
    gap: 1rem;
    z-index: 99;

    button {
      background-color: var(--primary-color);

      &:hover {
        background-color: var(--secondary-color);
      }

      svg {
        color: var(--font-color-light) !important;
      }
    }
  }
}