.sidebar {
  width: 190px;
  position: fixed;
  top: 80px;
  z-index: 999;
  padding-right: 10px;
  // transition: .2s ease-in-out;

  .MuiButtonBase-root {
    height: 50px;
    border-radius: 0 5px 5px 0;
    box-shadow: 1px 1px 2px var(--bg-secondary-color);
    padding: 0 1rem;
    margin-bottom: .7rem;

    &:hover {
      background-color: var(--bg-secondary-color) !important;
      box-shadow: 1px 1px 2px var(--bg-darker-color);
      color: var(--primary-color);
    }

    .MuiListItemIcon-root {
      min-width: 24px;
      padding-right: 1.2rem;
    }

    .expand {
      font-size: 1.2rem;
      position: relative;
      right: 20px;
    }

    .iconPaddingLeft {
      svg {
        margin-left: 1rem;
      }
    }
  }

  .collapseButton {
    box-shadow: 1px 1px 2px var(--bg-secondary-color);
  }

  .Mui-selected {
    background-color: var(--primary-transp-color) !important;
    box-shadow: 1px 1px 2px var(--bg-darker-color);
    color: var(--primary-color);

    svg {
      color: var(--primary-color) !important;
    }
  }

  .MuiTypography-root {
    display: block;
    // opacity: 1;
    // visibility: visible;
    // transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  }

  &--hide {
    width: 70px;

    .MuiTypography-root {
      display: none;
      // opacity: 0;
      // visibility: hidden;
      // transition-delay: 0s;
    }
  }

  @media (max-width: 599px) {
    width: 70px !important;

    .MuiTypography-root {
      display: none;
      // opacity: 0;
      // visibility: hidden;
    }
  }

  @media (max-width: 1199px) {
    width: 70px;

    .MuiTypography-root {
      display: none;
      // opacity: 0;
      // visibility: hidden;
    }

    &#show {
      width: 190px;

      .MuiTypography-root {
        display: block;
        // opacity: 1;
        // visibility: visible;
        // transition-delay: 0.2s;
      }
    }
  }
}